/* 
  --------------------
      Fonts
  --------------------
  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* 
        --------------------
          Veriable
        --------------------
    */

:root {
  /* Primery Color */
  --primery-clr: #01a1a1;

  /* Font */
  --ff: "Poppins", sans-serif;
  --f-clr: #002f2f;

  /* Background Color */
  --bg-clr: #ffffff;
  --bg2-clr: #fafaff;
  --bg3-clr: #cbecf0;
  --bg4-clr: #d2faff;

  --grey-shade-1: #2e4747;
  --black-clr: #222;
  --max-width: 1170px;
  --fixed-width-sqr: 800px;
  --fixed-width: 620px;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --spacing-m: 0.5rem;
  --spacing-l: 1rem;
  --radius: 1rem;
  --radius-2: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* 
        --------------------
          Global Style  
        --------------------
    
    */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 0.5px solid #80808080; */
}

::selection {
  background-color: var(--primery-clr);
}

body {
  overflow: auto;
  font-family: var(--ff);
  background: var(--bg2-clr);
  /* height: 100vh; */
  /* overflow: hidden; */
}

body::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--bg2-clr);
  margin: auto 15px;
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 2px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  text-align: center;
  display: flex;
  background: linear-gradient(
    0deg,
    var(--bg2-clr) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

footer a {
  margin: auto auto 0 auto;
  align-self: baseline;
  padding: 10px 10px 0 10px;
  font-size: 0.75rem;
  color: var(--primery-clr);
}

a {
  text-decoration: underline;
  color: var(--primery-clr);
  font-weight: 800;
}

strong{
    text-transform: uppercase;
    color: var(--primery-clr);
}

.update{
    padding: 1rem;
    text-align: center;
}

/* 
  --------------------
    Main Style  
  --------------------
*/

header {
  width: 100%;
  padding: 20px;
}

header .title {
  margin-top: 5vh;
  text-align: center;
}
header .title h1 {
  font-weight: 600;
}

section.main {
  padding: 5vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

section.frame {
  width: 98vw;
  height: 65vh;
  position: relative;
  display: flex;
  max-width: var(--fixed-width-sqr);
}

.frame article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  position: absolute;
  width: 90%;
  height: 90%;
  margin: 5%;
  background-color: var(--bg-clr);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

.frame article.slide.next{
    transform: translateX(-100%) scale(0.8);
    z-index: 1;
    opacity: 0;
}
.frame article.slide.current{
    transform: translateX(0%) scale(1);
    z-index: 2;
    opacity: 1;
}
.frame article.slide.previous{
    transform: translateX(100%) scale(0.8);
    z-index: 1;
    opacity: 0;
}
.frame article .img {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--primery-clr);
}
.frame article .person {
  margin: 0.5rem 0 2.5rem;
  line-height: 1;
}
.frame article .person h3 {
  color: var(--black-clr);
  font-size: 1.5rem;
}
.frame article .person p {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--primery-clr);
}
.frame article p {
  padding: 0 1rem;
}

.frame article .img img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: var(--dark-shadow);
}

.btns{
    position: absolute;
    width: 100%;
    top: 30%;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}
.btns button{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-clr);
  box-shadow: var(--dark-shadow);
  border: 1px solid var(--primery-clr) ;
}
.btns button#previous{
  transform: rotate(90deg);
}
.btns button#next{
  transform: rotate(-90deg);
}

@media screen and (max-width: 700px) {
  header .title {
    margin-top: 2rem;
  }
  body {
    padding: 0 0 5rem;
  }
}
